.form {
    display: flex;
    flex-wrap: wrap;
    background-color: #FFFFF0;
    width: 100%;
    height: 100%;
}

.leftDiv {
    width: 50%;
    height: 100%;
}

.rightDiv {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    width: 50%;
    height: 100%;
}

.label {
    color: #282C34;
    font-size: 30px;
    font-family: impact;
}

.buttonDiv {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}

