.wrapper {
    width: 80%;
    min-height: 100vh;
    border: 1px solid;
    margin: 70px 0;
    background-color: #FFFFF0;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    align-items: center;
}

.descriptionWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.leftDiv {
    width: 20%;
    height: 100%;
    
}

.rightDiv{
    width: 30%;
    height: 90%;
    text-align: center;
}


.label {
    color: #282C34;
    font-size: 20px;
    font-family: impact;
}

.buttons-div {
    display: flex;
    width: 20%;
    margin: 0 auto;
    justify-content: space-between;
}
