.create,
.update,
.login,
.register {
    background-color: #FFFFF0;
    border: 1px solid #282C34;
    border-top-width: 50px;
    border-bottom-width: 50px;
    border-radius: 20px;
    display: flex;
    padding: 30px 0;
}

.create,
.update {
    flex-wrap: wrap;
    width: 72%;
    margin: 50px 0;
}

.login,
.register {
    width: 370px;
    height: 400px;
    flex-direction: column;
    justify-content: space-evenly;
}


