.big-imageWrapper{
    width: 70%;
    height: 570px;
    border-radius: 10px;
    margin: 0 20px;
}

.medium-imageWrapper {
    width: 100%;
    height: 230px;
    border-bottom: 1px solid #282C34;
}

.small-selected-true-imageWrapper,
.small-selected-false-imageWrapper {
    width: 130px;
    height: 120px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 3px;
    box-sizing: border-box;
    border: 2px solid #282C34;
}

.small-selected-false-imageWrapper {
    border: none;  
}

.small-selected-true-imageWrapper:hover,
.small-selected-false-imageWrapper:hover {
   cursor: pointer;
}

.big-image,
.medium-image,
.small-selected-true-image,
.small-selected-false-image {
    width: 100%;
    height: 100%;
}

.big-image,
.small-selected-true-image,
.small-selected-false-image {
    border-radius: 10px;
}