.wrapper {
    width: 270px;
    border: 1px solid #282C34;
    margin: 20px;
    background-color: #ffffff;
}

.content-wrapper {
    padding: 15px 10px;
}

.paragraph {
    color: #ffffff;
    background-color: #282C34;
    width: 80%;
    margin-top: 0;
    padding: 4px 10px 4px 20px;
    border-radius: 0 25px 25px 0;
    margin-bottom: 12px;    
}

.like-link-div {
    display: flex;
    justify-content: space-around;  
}

.likes-div {
    padding: 5px 20px;
    border-radius: 25px;
    background-color: #282C34;
    text-align: center;
    color: #ffffff;
}