.div-selected-false,
.div-selected-true {
    width: 100px;
    height: 70px;
    padding-bottom: 10px ;
}

.div-selected-true {
    border-bottom: 2px solid #282C34;
}

.div-selected-false {
    border-bottom: 2px solid #ffffff;
}

.div-selected-false:hover , 
.div-selected-true:hover{
    cursor: pointer;
    border-bottom: 2px solid #282C34;
}

.img {
    width: 100%;
    height: 100%;
}
