.plus-btn-wrapper {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}

.label {
    color: #282C34;
    font-size: 30px;
    font-family: impact;
}


/* ////////////////////////////////////// */

.spec-input-wrapper {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.specInput {
    width: 45%;
    padding: 7px  0;
    font-size: 18px;
    border: 1px solid #282C34;
    border-radius: 7px;
    text-align: center;
}