.firstDiv{
    width: 72%;
    height: 50px;
    border: 2px solid #282C34;
    border-radius: 20px 20px 0 0;
    background-color: #282C34;
    margin: 0 auto;
    margin-bottom: 0;
    margin-top: 50px;
}

.secondDiv {
    width: 72%;
    height: 50px;
    border: 2px solid #282C34;
    border-radius: 0 0 20px 20px;
    background-color: #282C34;
    margin-top: 0;
    margin-bottom: 50px;
}

.leftSide,
.rightSide {
    width: 50%;
    height: 100%;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plus-btn-wrapper {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}

.label {
    color: #282C34;
    font-size: 30px;
    font-family: impact;
}


/* ////////////////////////////////////// */

.spec-input-wrapper {
    margin: 0 auto;
    font-size: 26px;
    margin-top: 20px;
    
}

.specName {
    height: 30px;
    width: 40%;
    margin-top: 10px;
    font-size: 16px;
    border: 1px solid #282C34;
    border-radius: 5px;
    margin-right: 10px;
}

.specValue {
    height: 30px;
    width: 40%;
    margin-top: 10px;
    font-size: 16px;
    border: 1px solid #282C34;
    border-radius: 5px;
    margin-left: 10px;
}

