.main {
    width: 100%;
    height: 72vh;
    display: flex;
 
}

.infoBox {
    align-self: flex-end;
    margin: 0 auto;
    margin-bottom: 70px;
    border: 2px solid lightgrey;
    border-radius: 30px;
    padding: 5px;

}

.info {
    list-style: none;
    font-size: 25px;
    font-family: monospace;
    padding: 5px;
}

