.header {
    padding: 20px 40px;
    background-color: #282C34;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-wrapper {
    width: 130px;
    height: 120px;
}

.logo {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.navigation {
    width: 50%;  
}

.list {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
