.div{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.input{
    height: 30px;
    text-align: center;
    width: 80%;
    margin-top: 10px;
    font-size: 18px;
    border: 1px solid #282C34;
    border-radius: 7px;
}

.label {
    color: #282C34;
    font-size: 30px;
    font-family: impact;
}