.loginRegister{
    outline: none;
    padding: 5px 20px;
    font-size: 18px;
    border: 1px solid #282C34;
    border-radius: 5px;
    margin: 0 auto;
}

.loginRegister:hover{
    cursor: pointer;
    background-color: #282C34;
    color: #ffffff;
}

/* Create/Update /////////////////////////////////////////////////// */


.createUpdate {
    margin: 0 auto;
    border: 2px solid #282C34;
    padding: 5px 30px;
    font-size: 22px;
    border-radius: 10px;
    outline: none;
    position: relative;
    bottom: 70px;
}

.createUpdate:hover{
    cursor: pointer;
    background-color: #282C34;
    color: #ffffff;
}