.footer {
    display: flex;
    background-color: #282C34;
    color: #234465;
    padding: 20px 20px;

}

.navigation {
    width: 130px;
    /* display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 20px;
    justify-content: space-between; */

}

.list {
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
}

.paragraph {
    margin: 0 auto;
    align-self: center;
    color: #ffffff;
    font-size: 20px;
}


