.container {
    width: 50%;
    display: none;
    flex-direction: column;
    align-self: flex-end;
    margin: 20px 15px 10px 0;
}

.textArea {
    width: 99%;
    height: 100px;
}

.comment-button {
    width: 15%;
    align-self: flex-end;
    margin-top: 10px;
}
