/* Header //////////////////////////////////////////////////// */

.header-li {
    padding-bottom: 5px;
    border-bottom: 2px solid  #282C34;
}

.header-li:hover {
    border-color: #00D8FF;
}

.header-li:hover .header-link {
    color: #00D8FF;
}

.header-link {
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 26px;
    text-decoration: none;
}

/* Footer////////////////////////////////////////////////////////////////////////////////////// */

.footer-li {
    margin-bottom: 10px
}

.footer-link {
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    text-decoration: none;
}

.footer-link:hover {
    color: #00D8FF;
}

/* CAR ////////////////////////////////////////////////////////////////////////////////////////// */

.car-li{
    list-style: none;
    background-color: #282C34;
    text-align: center;
    padding: 5px 20px;
    border-radius: 20px;
}

.car-link {
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-decoration: none;   
}

.car-link:hover {
    color: #00D8FF;
}

/* UPDATA //////////////////////////////////////////////////////////////////////////////////////// */

.update-li{
    text-align: center;
    background-color: #282C34;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 4px 20px;
    border-radius: 20px;
}

.update-link {
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-decoration: none;  
}

.update-link:hover {
    color: #00D8FF;
}
